<% is_in_group = current_user && current_user.is_member_of?(@group) %>

<div class="col-md 12">
  <h2><%= @group.title %></h2>

  <div class="group">
    <span class="float-end">
      <% if is_in_group %>
        <label class="label label-success">群組成員</label>
        <%= link_to("離開群組", quit_group_path(@group), method: :post, class: "btn btn-default") %>
      <% else %>
        <label class="label label-warning">非群組成員</label>
        <%= link_to("加入群組", join_group_path(@group), method: :post, class: "btn btn-default") %>
      <% end %>
    </span>
  </div>
  <div class="group">
    <% if is_in_group %>
      <%= link_to("新增文章", new_group_post_path(@group), class: "btn btn-default float-end" ) %>
    <% end %>
  </div>
  <% if current_user && current_user == @group.user %>
    <%= link_to("編輯", edit_group_path(@group), class: "btn btn-primary float-end") %>
  <% end %>

  <% if @group.user == current_user %>
    <h2>待審核文章（管理員）</h2>
    <table class="table">
      <thead>
        <tr>
          <th>文章內容</th>
          <th>作者</th>
          <th>時間</th>
          <th colspan="2">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @group_owner_verify_posts.each do |post| %>
          <tr>
            <td><%= post.content %></td>
            <td><%= post.user.email %></td>
            <td><%= post.updated_at %></td>
            <td><%= button_to("審核通過", manage_group_post_path(@group, post, post: { status: "publish" }))%></td>
            <td><%= button_to("審核失敗", manage_group_post_path(@group, post, post: { status: post.verify? ? "decline" : "update_decline" }))%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <table class="table">
    <h2>待審核文章（用戶）</h2>
    <thead>
      <tr>
        <th>狀態</th>
        <th>文章內容</th>
        <th>作者</th>
        <th>時間</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @author_verifyable_posts.each do |post| %>
        <tr>
          <td><%= post.status %></td>
          <td><%= post.content %></td>
          <td><%= post.user.email %></td>
          <td><%= post.updated_at %></td>
          <td style="display: flex;">
            <%= button_to("提交申請", manage_group_post_path(@group, post, post: { status: post.published? ? "update_verify" : "verify" }))%>
            <%= button_to("取消申請審核", manage_group_post_path(@group, post, post: { status: post.published? ? "cancel_update_verify" : "draft" }))%>
            <%= button_to("編輯", edit_group_post_path(@group, post), method: :get) %>
            <%= button_to("刪除", manage_group_post_path(@group, post, post: {status: post.draft? ? "trash" : "delete_by_post_author" }), data: { confirm: "確定要刪除嗎？"})%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table">
    <h2>文章列表</h2>
    <thead>
      <tr>
        <th>文章內容</th>
        <th>作者</th>
        <th>時間</th>
        <th>文章狀態</th>
        <th colspan="5">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @publish_posts.each do |post| %>
        <tr>
          <td>
            <% if read_authorization(post) %>
              <%= post.content %>
            <% else %>
              -
            <% end %>
          </td>
          <td><%= post.user.email %></td>
          <td><%= post.updated_at %></td>
          <td><%= post_status_message(post.status) %></td>
          <% if post.editable? && current_user_post?(post.user) %>
            <td><%= link_to("編輯", edit_group_post_path(@group, post, post: {status: "update_post"})) %></td>
            <td><%= button_to("刪除", manage_group_post_path(@group, post, post: {status: delete_by(post.user)}), data: { confirm: "確定要刪除嗎？"})%></td>
          <% end %>
          <td>
            <% if group_owner?(@group) && post.may_block? %>
              <%= button_to("封鎖", manage_group_post_path(@group, post, post: {status: "block"}), data: { confirm: "確定要刪除嗎？"})%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @publish_posts  %>
  </div>
</div>
