<div class="col-md 12">
  <% if @group.user == current_user %>
    <table class="table">
      <thead>
        <tr>
          <th>文章內容</th>
          <th>作者</th>
          <th>時間</th>
        </tr>
      </thead>
      <tbody>
        <% @pendding_posts.each do |post| %>
          <tr>
            <td><%= post.content %></td>
            <td><%= post.user.email %></td>
            <td><%= post.created_at %></td>
            <td><%= link_to("delete", group_post_path(@group,post), method: :delete, data: {confirm: "Are you sure?"}) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="group">
    <span class="float-end">
      <% if current_user && current_user.is_member_of?(@group) %>
        <label class="label label-success"> 群組成員 </label>
        <%= link_to("離開群組", quit_group_path(@group), method: :post, class: "btn btn-default") %>
      <% else %>
        <label class="label label-warning"> 非群組成員 </label>
        <%= link_to("加入群組", join_group_path(@group), method: :post, class: "btn btn-default") %>
      <% end %>
    </span>
  </div>
  <div class="group">
    <% if current_user && current_user.is_member_of?(@group) %>
      <%= link_to("新增文章", new_group_post_path(@group), class: "btn btn-default float-end" ) %>
    <% end %>
  </div>
  <% if current_user && current_user == @group.user %>
    <%= link_to("編輯", edit_group_path(@group), class: "btn btn-primary float-end") %>
  <% end %>
  <h2><%= @group.title %></h2>
  <table class="table">
    <thead>
      <tr>
        <th>文章內容</th>
        <th>作者</th>
        <th>時間</th>
      </tr>
    </thead>
    <tbody>
      <% @published_posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
          <td><%= post.user.email %></td>
          <td><%= post.created_at %></td>
          <% if current_user && current_user.is_member_of?(@group) %>
            <td><%= link_to("edit", edit_group_post_path(@group,post)) %></td>
            <td><%= link_to("delete", group_post_path(@group,post), method: :delete, data: {confirm: "Are you sure?"}) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <div>
      <%= paginate @published_posts %>
    </div>
  </table>
</div>